<!DOCTYPE html>
<html>

<head>
    <title>StacyUk Admin Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="/template1/responsive-tabs.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://unpkg.com/cd-themify-icons@0.0.1/index.css">
</head>

<body class="bd1">
    <div id="demopage">
        <h1>StacyUk Couture</h1>

        <div class="container1 container">
            <ul class="rtabs">
                <li section="Kids"><a href="#view1">Kiddies</a></li>
                <li section="Women"><a href="#view2">Women</a></li>
                <li section="Materials"><a href="#view3">Materials/Applique</a></li>
                <li section="Category"><a href="#view4">New Category</a></li>
            </ul>

            <div id="category-holder" style="display: none;">
                <%= categories_list %>
                    <%let kids_category = "" %>
                        <%let women_category = ""%>
                            <%let material_category = ""%>


                                <% for (category of categories_list) {%>
                                    <%if (category.section === "Kids") {%>
                                        <%kids_category += `<option value="${category.new_category}">${category.new_category}</option>`%>
                                            <%} else if (category.section === "Women") {%>
                                                <%women_category += `<option value="${category.new_category}">${category.new_category}</option>`%>
                                                    <%} else if (category.section === "Materials") {%>
                                                        <%material_category += `<option value="${category.new_category}">${category.new_category}</option>`%>
                                                            <%}%>

                                                                <%}%>

                                                                    <p id="kids_category">
                                                                        <%= kids_category %>
                                                                    </p>
                                                                    <p id="women_category">
                                                                        <%= women_category %>
                                                                    </p>
                                                                    <p id="material_category">
                                                                        <%= material_category %>
                                                                    </p>
            </div>




            <div class="panel-container">
                <div id="view1">
                    <button class="btn btn-outline-primary newProduct" title="Add New Product" section="Kids">
                            Add <i class="fa fa-plus"></i>
                        </button>
                    <div class="container mt-5 mb-5">
                        <div class="d-flex justify-content-center row">
                            <div class="col-md-10">
                                <% products_list.forEach(product => { %>
                                    <% if ( product.root_category === "Kids" ) { %>
                                        <div class="row p-2 bg-white border rounded mt-2">
                                            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="<%= product.images[0].secure_url %> "></div>
                                            <div class="col-md-6 mt-1">
                                                <h5>
                                                    <%= product.name %>
                                                </h5>
                                                <div class="d-flex flex-row">
                                                    <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                                                </div>
                                                <div class="mt-1 mb-1 spec-1"><span> <strong> Is Available: </strong> </span><span class="dot"></span><span> <%= product.isAvailable %>  </span></div>
                                                <div class="mt-1 mb-1 spec-1"><span> <strong> Category: </strong> </span><span class="dot"></span><span> <%= product.category %>  </span></div>
                                                <div class="mt-1 mb-1 spec-1"><span> <strong> Description: </strong> </span><span class="dot"></span><span> <%= product.description %>  </span></div>
                                            </div>
                                            <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                                <div class="d-flex flex-row align-items-center">
                                                    <h4 class="mr-1"> $
                                                        <%= product.price %>
                                                    </h4><span class="strike-text"> $<%= product.slashed_price %>  </span>
                                                </div>
                                                <h6 class="text-success">Free shipping</h6>
                                                <ul class="img_links" style="display: none">
                                                    <% product.images.forEach(img => { %>
                                                        <li image_id='<%= img.public_id %>'>
                                                            <%= img.secure_url %>
                                                        </li>
                                                        <% }) %>
                                                </ul>
                                                <div class="d-flex flex-column mt-4">
                                                    <button class="btn btn-outline-primary btn-sm update-info-btn" type="button" productId="<%= product.id %> ">Update Info</button><button class="btn btn-outline-primary btn-sm mt-2 update-images-btn" type="button"
                                                        productId="<%= product.id %> ">Update Images</button>
                                                    <button class="btn btn-outline-primary btn-sm mt-2 deleteProductBtn" type="button" productId="<%= product.id %> ">Delete Product <i class="fa fa-trash"></i> </button></div>

                                            </div>
                                        </div>
                                        <% } %>
                                            <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="view2">
                    <button class="btn btn-outline-primary newProduct" section="Women" title="Add New Product">
                Add <i class="fa fa-plus"></i>
            </button>
                    <div class="container mt-5 mb-5">
                        <div class="d-flex justify-content-center row">
                            <div class="col-md-10">
                                <% products_list.forEach(product => { %>
                                    <% if ( product.root_category === "Women" ) { %>
                                        <div class="row p-2 bg-white border rounded mt-2">
                                            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="<%= product.images[0].secure_url %> "></div>
                                            <div class="col-md-6 mt-1">
                                                <h5>
                                                    <%= product.name %>
                                                </h5>
                                                <div class="d-flex flex-row">
                                                    <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                                                </div>
                                                <div class="mt-1 mb-1 spec-1"><span> <strong> Is Available: </strong> </span><span class="dot"></span><span> <%= product.isAvailable %>  </span></div>
                                                <div class="mt-1 mb-1 spec-1"><span> <strong> Category: </strong> </span><span class="dot"></span><span> <%= product.category %>  </span></div>
                                                <div class="mt-1 mb-1 spec-1"><span> <strong> Description: </strong> </span><span class="dot"></span><span> <%= product.description %>  </span></div>
                                            </div>
                                            <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                                <div class="d-flex flex-row align-items-center">
                                                    <h4 class="mr-1"> $
                                                        <%= product.price %>
                                                    </h4><span class="strike-text"> $<%= product.slashed_price %>  </span>
                                                </div>
                                                <h6 class="text-success">Free shipping</h6>
                                                <ul class="img_links" style="display: none">
                                                    <% product.images.forEach(img => { %>
                                                        <li image_id='<%= img.public_id %>'>
                                                            <%= img.secure_url %>
                                                        </li>
                                                        <% }) %>
                                                </ul>
                                                <div class="d-flex flex-column mt-4">
                                                    <button class="btn btn-outline-primary btn-sm update-info-btn" type="button" productId="<%= product.id %> ">Update Info</button><button class="btn btn-outline-primary btn-sm mt-2 update-images-btn" type="button"
                                                        productId="<%= product.id %> ">Update Images</button>
                                                    <button class="btn btn-outline-primary btn-sm mt-2 deleteProductBtn" type="button" productId="<%= product.id %> ">Delete Product <i class="fa fa-trash"></i> </button></div>

                                            </div>
                                        </div>
                                        <% } %>
                                            <% }) %>

                            </div>
                        </div>
                    </div>

                </div>
                <div id="view3">
                    <button class="btn btn-outline-primary newProduct" section="Materials" title="Add New Product">
                Add <i class="fa fa-plus"></i>
            </button>
                    <div class="container mt-5 mb-5">
                        <div class="d-flex justify-content-center row">
                            <div class="col-md-10">
                                <% products_list.forEach(product => { %>
                                    <% if ( product.root_category === "Materials" ) { %>
                                        <div class="row p-2 bg-white border rounded mt-2">
                                            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="<%= product.images[0].secure_url %> "></div>
                                            <div class="col-md-6 mt-1">
                                                <h5>
                                                    <%= product.name %>
                                                </h5>
                                                <div class="d-flex flex-row">
                                                    <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                                                </div>
                                                <div class="mt-1 mb-1 spec-1"><span> <strong> Is Available: </strong> </span><span class="dot"></span><span> <%= product.isAvailable %>  </span></div>
                                                <div class="mt-1 mb-1 spec-1"><span> <strong> Category: </strong> </span><span class="dot"></span><span> <%= product.category %>  </span></div>
                                                <div class="mt-1 mb-1 spec-1"><span> <strong> Description: </strong> </span><span class="dot"></span><span> <%= product.description %>  </span></div>
                                            </div>
                                            <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                                <div class="d-flex flex-row align-items-center">
                                                    <h4 class="mr-1"> $
                                                        <%= product.price %>
                                                    </h4><span class="strike-text"> $<%= product.slashed_price %>  </span>
                                                </div>
                                                <h6 class="text-success">Free shipping</h6>
                                                <ul class="img_links" style="display: none">
                                                    <% product.images.forEach(img => { %>
                                                        <li image_id='<%= img.public_id %>'>
                                                            <%= img.secure_url %>
                                                        </li>
                                                        <% }) %>
                                                </ul>
                                                <div class="d-flex flex-column mt-4">
                                                    <button class="btn btn-outline-primary btn-sm update-info-btn" type="button" productId="<%= product.id %> ">Update Info</button><button class="btn btn-outline-primary btn-sm mt-2 update-images-btn" type="button"
                                                        productId="<%= product.id %> ">Update Images</button>
                                                    <button class="btn btn-outline-primary btn-sm mt-2 deleteProductBtn" type="button" productId="<%= product.id %> ">Delete Product <i class="fa fa-trash"></i> </button></div>

                                            </div>
                                        </div>
                                        <% } %>
                                            <% }) %>
                            </div>
                        </div>
                    </div>
                </div>



                <div id="view4">
                    <h2 class="mb-3">Create New Category</h2>
                    <button class="btn btn-primary categoryBtn"> <i class="fa fa-plus"></i> New Category</button>
                </div>

            </div>
            <br />


        </div>
        <div class="update-modal">

            <button class="btn btn-danger close-modal"> <i class="fa fa-close"></i> </button>


            <div class="container contact-form">
                <form method="" name="UpdateInfo" onsubmit="event.preventDefault()">
                    <h3>Update Product Info</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="txtName" class="form-control" id="product_name_updated" placeholder="Name Of Product" value="" />
                            </div>
                            <div class="form-group">
                                <label for="productSize">Select Size</label>
                                <select name="txtSize" id="productSize_updated" class="form-control">
                                    <option value="small">S</option>
                                    <option value="medium">M</option>
                                    <option value="Large">L</option>
                                    <option value="extra large">XL</option>
                                    <option value="extra extra large">XXL</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="number" name="txtPrice" class="form-control" placeholder="Price" id="product_price_updated" value="" />
                            </div>
                            <div class="form-group">
                                <input type="number" name="txtSlashedPrice" id="slashed_price_updated" class="form-control" placeholder="Slashed Price" value="" />
                            </div>
                            <div class="form-group">
                                <label for="category_updated">Select Category</label>
                                <select name="Category" id="category_updated" class="form-control">
                                </select>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="updated_available">Is Product Available ?</label>
                                <select name="Category" id="updated_available" class="form-control">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea name="txtDesc" class="form-control" placeholder="Product Description" id="product_description_updated" required style="width: 100%; height: 220px;"></textarea>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group submitBtn">
                                <input type="submit" name="btnSubmit" class="btnContact text-center updateInfoBtn bg-success" value="Save Changes" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="create-modal">
            <button class="btn btn-danger close-modal"> <i class="fa fa-close"></i> </button>

            <div class="container contact-form">
                <form method="" name="Create" onsubmit="event.preventDefault()">
                    <h3>Create Product</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="txtName" class="form-control" placeholder="Name Of Product" value="" id="product_name" required />
                            </div>
                            <div class="form-group">
                                <label for="productSize">Select Size</label>
                                <select name="txtSize" id="productSize" class="form-control">
                                    <option value="small">S</option>
                                    <option value="medium">M</option>
                                    <option value="Large">L</option>
                                    <option value="extra large">XL</option>
                                    <option value="extra extra large">XXL</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="number" name="txtPrice" class="form-control" placeholder="Price" value="" id="product_price" required />
                            </div>

                            <div class="form-group">
                                <label for="category">Select Category</label>
                                <select name="Category" id="category" class="form-control">
                                    <option value="Trouser">Trousers</option>
                                    <option value="Shirt">Shirts</option>
                                    <option value="T-Shirt">T-Shirt</option>
                                    <option value="Senator">Senator</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="number" name="txtSlashedPrice" required class="form-control" placeholder="Slashed Price" id="slashed_price" value="" />
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="available">Is Product Available ?</label>
                                <select name="Category" id="available" class="form-control">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea name="txtDesc" class="form-control" required placeholder="Product Description" style="width: 100%; height: 175px;" id="product_description"></textarea>
                            </div>
                            <div class="custom-file">
                                <input type="file" multiple required class="custom-file-input product_image form-control" accept="image/*" id="customFile">
                                <label class="custom-file-label" for="customFile">Upload Images</label>
                            </div>
                        </div>

                        <div class="col-md-12 mt-4">
                            <div class="form-group submitBtn">
                                <input type="submit" name="btnSubmit" class="btnContact text-center bg-success" id="createProduct" value="Create Product" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="update-image-modal ">
            <button class="btn btn-danger close-modal"> <i class="fa fa-close"></i> </button>
            <div class="container other-images owl-carousel owl-theme ">



            </div>
            <div class="container more-images-form-container">


                <form method="" name="moreImages" onsubmit="event.preventDefault()" class="more-images">
                    <h3>Upload More Images</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="custom-file">
                                <input type="file" multiple required class="custom-file-input form-control product_update_images" id="customFile">
                                <label class="custom-file-label" for="customFile">Upload Images</label>
                            </div>
                        </div>
                        <div class="col-md-12 mt-2">
                            <div class="form-group submitBtn ">
                                <input type="submit" name="btnSubmit" class="btnContact text-center btn btn-primary moreImagesBtn" value="Upload" onclick="event.preventDefault()" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="warning-modal">
            <button class="btn btn-danger close-modal"> 
                <i class="fa fa-close"></i> 
            </button>
            <div class="container more-images warning-modal-container row p-5 w-sm-90 w-lg-50 w-md-70">
                <div class="col-12">
                    <h3 class="text-center">Are Your Sure You Want To Delete This</h3>
                </div>
                <div class="col-12 row mt-3">
                    <div class="col-6 js-center">
                        <button class="btn btn-danger p-2 px-3 deleteChanges">Yes</button>
                    </div>
                    <div class="col-6 js-center">
                        <button class="btn btn-success p-2 px-3" onclick="event.target.parentElement.parentElement.parentElement.parentElement.classList.toggle('open-modal')">No</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="newCategory-modal">
            <button class="btn btn-danger close-modal"> 
                <i class="fa fa-close"></i> 
            </button>
            <div class="container more-images-form-container warning-modal-container p-3">


                <form method="" class="more-images p-5" name="Category" onsubmit="event.preventDefault()">
                    <h3 class="text-center">Create New Category</h3>
                    <div class="form-group">
                        <label for="product_section">Select Section</label>
                        <select name="product section" id="product_section" class="form-control">
                            <option value="Kids">Kids</option>
                            <option value="Women">Women</option>
                            <option value="Materials">Materials and Applique</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtPrice" class="form-control" id="new_category_name" required placeholder="Catgory Name" value="" />
                    </div>

                    <div class="col-md-12">
                        <div class="form-group submitBtn">
                            <input type="submit" name="btnSubmit" class="btnContact text-center btn btn-primary createCategory" value="Create Category" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="loading-modal">
            <div class="spinner-border text-primary"></div>
        </div>

        <div class="error-modal">
            <button class="btn btn-danger close-modal"> <i class="fa fa-close"></i> </button>
            <div class="error_div p-3 bg-danger justify-content-center align-items-center">
                <i class="fa fa-exclamation-triangle"></i>
                <p>Something went wrong</p>
            </div>
        </div>

        <div class="success-modal">
            <button class="btn btn-danger close-modal"> <i class="fa fa-close"></i> </button>
            <div class="done_div p-3 bg-success justify-content-center align-items-center">
                <i class="fa fa-circle-check"></i>
                <p>Something went wrong</p>
            </div>
        </div>

    </div>



</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>

<script src="/js/admin.js" type="text/javascript"></script>


</html>